:root {
  --green: #4caf50;
  --red: #da4343;
  --brown: #947441;
}

/* Header */

header .navbar-brand h1 {
  color: var(--purple);
}

header .links .nav-item {
  background: var(--purple);
  margin-left: 30px;
  margin-right: 25px;
  border-radius: var(--border-radius);
  width: fit-content;
}

header .links .nav-item:hover {
  background: #785abd;
}

header .links .nav-link {
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
}

header .user-profile__wrapper {
  background: none;
}

header .user-profile__link {
  text-align: center;
}

header .user-profile__img {
  background: var(--purple);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 5px;
  display: border;
}

header .user-profile__username {
  font-size: 18px;
  color: var(--white);
  margin-top: 4px;
}

header .user-profile__link:active img {
  box-shadow: 0 0 0 3px var(--blue);
}

header .dropdown-item {
  font-weight: bold;
  color: var(--black);
}

header .dropdown-item:focus,
header .dropdown-item:hover {
  background: var(--red);
  color: var(--white);
}

/* Menu list */

.menu-list {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 700px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Menu */

.menu {
  background: var(--black);
  border-radius: var(--border-radius);
  padding: 15px;
  margin: 8px;
  box-shadow: var(--shadow);
  transition: transform 300ms;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Menu content */

.menu-content {
  background: var(--white);
  border-radius: 10px;
  padding: 15px;
  width: fit-content;
  border: 3px solid transparent;
  cursor: pointer;
  transition: border 300ms ease, color 300ms ease;

  display: grid;
  place-items: center;
}

.menu-content .icon {
  width: 30px;
  height: 30px;
  fill: var(--black);
  transition: fill 300ms ease;
}

/* Menu title */

.menu-title h3 {
  font-weight: 500;
  line-height: 0;
  color: var(--grey);
  font-size: 20px;
  margin-top: 30px;
  position: relative;
}

.menu-title h3::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background: yellow;
  border-radius: var(--border-radius);
  transition: width 300ms ease;
  position: absolute;
  bottom: -15px;
}

.menu:hover h3::before {
  width: 100%;
}

/* Menu balance */

.menu-balance {
  flex-basis: 100%;
}

.menu-balance select {
  margin-bottom: 20px;
  margin-right: auto;
  border: 3px solid var(--white);
  border-radius: var(--border-radius);
  background: var(--white);
  padding: 5px 10px;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}

.menu-balance select:focus {
  transition: border 0.5s;
  border: 3px solid var(--blue);
}

.menu-balance #alertSelect {
  margin-right: auto;
  margin-bottom: 20px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--red);

  display: none;
}

.menu-balance .menu-content {
  min-width: 65%;
  color: var(--black);
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
}

.menu-balance .menu-title {
  font-size: 25px;
}

.menu-balance .menu-content:hover {
  border: 3px solid var(--green);
  color: var(--green);
}

/* Menu transaction */

.menu-transaction {
  flex-basis: calc(50% - 16px);
}

.wrapper-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Plus icon */

.plus-icon__wrapper:hover {
  border: 3px solid var(--green);
}

.plus-icon__wrapper:hover .plus-icon {
  fill: var(--green);
}

/* Minus icon */

.minus-icon__wrapper:hover {
  border: 3px solid var(--red);
}

.minus-icon__wrapper:hover .minus-icon {
  fill: var(--red);
}

/* Menu wallet */ 

.menu-wallet {
  flex-basis: calc(50% - 16px);
}

.wallet-icon__wrapper:hover {
  border: 3px solid var(--brown);
}

.wallet-icon__wrapper:hover .wallet-icon {
  fill: var(--brown);
}

/* Payment table */

.payment-table {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: var(--border-radius);
}

.payment-table thead tr th {
  border-top: 0;
}

/* Modal */

.modal-open {
  padding: 0 !important;
  overflow-y: auto;
}

.modal .modal-content {
  background-color: var(--black);
  border: none;
  border-radius: var(--border-radius);
}

.modal-header {
  border-bottom: 1px solid var(--dark-grey);
}

.modal-header .close span {
  color: var(--white);
  text-shadow: none;
}

.modal-footer {
  border-top: 1px solid var(--dark-grey);
}

.modal-title {
  font-weight: 700;
  cursor: default;
  position: relative;
  font-size: 25px;
}

/* Responsiveness */

@media only screen and (max-width:600px) {
  .menu-list {
    flex-direction: column;
  }

  .menu {
    margin: 16px 4px;
  }

  .menu-balance .menu-content {
    width: 100%;
    font-size: 40px;
  }

  .menu-content .icon {
    width: 30px;
    height: 30px;
  }

  .modal-title {
    font-size: 20px;
  }
}