/* Header */

header .navbar-brand h1 {
  color: var(--purple);
}

header .nav-item {
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  background: var(--purple);
  border-radius: 15px;
  width: fit-content;
}

header .user-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Menu list */

.menu-list {
  margin: 60px auto;
  max-width: 700px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Menu */

.menu {
  background: var(--black);
  border-radius: var(--border-radius);
  padding: 15px;
  margin: 8px;
  box-shadow: var(--shadow);
  transition: transform 300ms;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.menu-content {
  background: var(--white);
  border-radius: 10px;
  padding: 15px;
  width: fit-content;
  border: 2px solid transparent;
  transition: border 300ms ease;

  display: grid;
  place-items: center;
}

.menu-content:hover {
  border: 2px solid var(--blue);
  color: var(--black);
}

.menu-content .icon {
  width: 30px;
  height: 30px;
}

.menu-title h3 {
  font-weight: 500;
  line-height: 0;
  color: var(--grey);
  font-size: 20px;
  margin-top: 30px;
  position: relative;
}

.menu-title h3::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background: yellow;
  border-radius: var(--border-radius);
  transition: width 300ms ease;
  position: absolute;
  bottom: -15px;
}

.menu:hover h3::before {
  width: 100%;
}

/* Menu balance */

.menu-balance {
  flex-basis: 100%;
}

.menu-balance .menu-content {
  min-width: 65%;
  color: var(--black);
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
}

.menu-balance .menu-title {
  font-size: 25px;
}

/* Menu transaction */

.menu-transaction {
  flex-basis: calc(50% - 16px);
}

.wrapper-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Menu wallet */ 

.menu-wallet {
  flex-basis: calc(50% - 16px);
}

/* Modal */

.modal-open {
  padding:0 !important;
  overflow-y: auto;
}

.modal-content {
  background-color: var(--black);
  border: none;
  border-radius: var(--border-radius);
}

.modal-header {
  border-bottom: 1px solid var(--dark-grey);
}

.modal-header .close span {
  color: var(--white);
  text-shadow: none;
}

.modal-footer {
  border-top: 1px solid var(--dark-grey);
}

.modal-title {
  color: var(--white);
  font-weight: 500;
  cursor: default;
  position: relative;
}

  /* Real currency symbol  */
.real-symbol {
  color: var(--grey);
  background-color: var(--black);
  border: 2px solid var(--dark-grey);
  border-radius: var(--border-radius);
}

/* Responsiveness */

@media only screen and (max-width:600px) {
  .menu-list {
    flex-direction: column;
  }

  .menu-balance .menu-content {
    width: 100%;
    font-size: 40px;
  }

  .menu-content .icon {
    width: 30px;
    height: 30px;
  }
}