/* Header */

header .nav-link {
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  margin-right: 15px;
  background: var(--purple);
  border-radius: 15px;
}

header .user-profile__wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Menu list */

.menu-list {
  margin: 60px auto;
  max-width: 700px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Menu */

.menu {
  background: var(--black);
  border-radius: var(--border-radius);
  padding: 15px;
  margin: 8px;
  transition: transform 300ms;

  display: grid;
  place-items: center;
}

.menu:hover {
  transform: translateY(-6px);
}

.menu-content {
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 15px;
  width: fit-content;
  color: var(--black);
  font-weight: bold;
  font-size: 35px;
  border: 2px solid transparent;
  transition: border 300ms ease;

  display: grid;
  place-items: center;
}

.menu-content:hover {
  border: 2px solid var(--blue);
  color: var(--black);
}

.menu-content .icon {
  width: 40px;
  height: 40px;
}


.menu-title h3 {
  font-weight: 500;
  color: var(--grey);
  font-size: 20px;
  margin-top: 15px;
  position: relative;
}

.menu-title h3::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background: yellow;
  border-radius: var(--border-radius);
  transition: width 300ms ease;
  position: absolute;
  bottom: -2px;
}

.menu:hover h3::before {
  width: 100%;
}

/* Menu balance */

.menu-balance {
  flex-basis: 100%;
}

.menu-balance .menu-content {
  width: 50%;
  text-decoration: none;
}

.menu-balance .menu-title {
  font-size: 25px;
}

/* Menu transaction */

.menu-transaction {
  flex-basis: calc(50% - 16px);
}

.wrapper-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Menu wallet */ 

.menu-wallet {
  flex-basis: calc(50% - 16px);
}