
<form class="form">
  <div class="form-info__wrapper">
    <p class="form-info">
      Já tem uma conta? <a href="#">Entrar</a>
    </p>
  </div>

  <h1 class="form-title">Cadastre-se.</h1>

  <div class="field-list">
    <div class="item">
      <label for="name">Como você gostaria de ser chamado?</label>
      <input type="text" id="name" maxlength="100" required />
    </div>

    <div class="item">
      <label for="email">Nos diga qual o seu melhor Email:</label>
      <input type="email" id="email" maxlength="254" required />
    </div>

    <div class="item">
      <label for="password">Digite uma senha forte para sua conta:</label>
      <input type="password" class="form-control" id="password" maxlength="255" required />
    </div>

    <div class="item">
      <label for="repeat-password"
        >Quase lá! Repita sua senha mais uma vez:</label
      >
      <input
        type="password"
        id="repeat-password"
        maxlength="255"
        required
      />
    </div>
  </div>

  <button type="submit" class="form-button">Avançar</button>
</form>